/**
 * @name Aru's Theme
 * @author aru
 * @description Aru's theme. Feel free to use it, if you would like!
 * @version 0.1.0
 * LICENSE:
 * You may freely use and modify this theme, including resharing, commercializing, etc.
 * under the requirement that the original author (arutonee) is credited, and this
 * license is included publicly within the theme. */
/* Put fonts here! */
@import url("https://fonts.googleapis.com/css2?family=Sniglet:wght@400&display=swap");
.theme-dark, .theme-light {
  --background-primary: transparent;
  --background-secondary-alt: transparent;
  --background-secondary: transparent;
  --background-tertiary: transparent;
  --brand-experiment: var(---accent);
  --channeltextarea-background: var(---inlay-color);
  --brand-100: var(---accent);
  --brand-130: var(---accent);
  --brand-160: var(---accent);
  --brand-200: var(---accent);
  --brand-230: var(---accent);
  --brand-260: var(---accent);
  --brand-300: var(---accent);
  --brand-330: var(---accent);
  --brand-345: var(---accent);
  --brand-360: var(---accent);
  --brand-400: var(---accent);
  --brand-430: var(---accent);
  --brand-460: var(---accent);
  --brand-500: var(---accent);
  --brand-530: var(---accent);
  --brand-560: var(---accent);
  --brand-600: var(---accent);
  --brand-630: var(---accent);
  --brand-660: var(---accent);
  --brand-700: var(---accent);
  --brand-730: var(---accent);
  --brand-760: var(---accent);
  --brand-800: var(---accent);
  --brand-830: var(---accent);
  --brand-860: var(---accent);
  --brand-900: var(---accent);
  --brand-experiment-100: var(---accent);
  --brand-experiment-130: var(---accent);
  --brand-experiment-160: var(---accent);
  --brand-experiment-200: var(---accent);
  --brand-experiment-230: var(---accent);
  --brand-experiment-260: var(---accent);
  --brand-experiment-300: var(---accent);
  --brand-experiment-330: var(---accent);
  --brand-experiment-345: var(---accent);
  --brand-experiment-360: var(---accent);
  --brand-experiment-400: var(---accent);
  --brand-experiment-430: var(---accent);
  --brand-experiment-460: var(---accent);
  --brand-experiment-500: var(---accent);
  --brand-experiment-530: var(---accent);
  --brand-experiment-560: var(---accent);
  --brand-experiment-600: var(---accent);
  --brand-experiment-630: var(---accent);
  --brand-experiment-660: var(---accent);
  --brand-experiment-700: var(---accent);
  --brand-experiment-730: var(---accent);
  --brand-experiment-760: var(---accent);
  --brand-experiment-800: var(---accent);
  --brand-experiment-830: var(---accent);
  --brand-experiment-860: var(---accent);
  --brand-experiment-900: var(---accent);
  --green-100: var(---green-accent);
  --green-130: var(---green-accent);
  --green-160: var(---green-accent);
  --green-200: var(---green-accent);
  --green-230: var(---green-accent);
  --green-260: var(---green-accent);
  --green-300: var(---green-accent);
  --green-330: var(---green-accent);
  --green-345: var(---green-accent);
  --green-360: var(---green-accent);
  --green-400: var(---green-accent);
  --green-430: var(---green-accent);
  --green-460: var(---green-accent);
  --green-500: var(---green-accent);
  --green-530: var(---green-accent);
  --green-560: var(---green-accent);
  --green-600: var(---green-accent);
  --green-630: var(---green-accent);
  --green-660: var(---green-accent);
  --green-700: var(---green-accent);
  --green-730: var(---green-accent);
  --green-760: var(---green-accent);
  --green-800: var(---green-accent);
  --green-830: var(---green-accent);
  --green-860: var(---green-accent);
  --green-900: var(---green-accent);
  --red-100: var(---red-accent);
  --red-130: var(---red-accent);
  --red-160: var(---red-accent);
  --red-200: var(---red-accent);
  --red-230: var(---red-accent);
  --red-260: var(---red-accent);
  --red-300: var(---red-accent);
  --red-330: var(---red-accent);
  --red-345: var(---red-accent);
  --red-360: var(---red-accent);
  --red-400: var(---red-accent);
  --red-430: var(---red-accent);
  --red-460: var(---red-accent);
  --red-500: var(---red-accent);
  --red-530: var(---red-accent);
  --red-560: var(---red-accent);
  --red-600: var(---red-accent);
  --red-630: var(---red-accent);
  --red-660: var(---red-accent);
  --red-700: var(---red-accent);
  --red-730: var(---red-accent);
  --red-760: var(---red-accent);
  --red-800: var(---red-accent);
  --red-830: var(---red-accent);
  --red-860: var(---red-accent);
  --red-900: var(---red-accent);
}

* {
  font-family: var(---font);
}

[class^=avatarDecoration] {
  opacity: var(---avatar-decoration-opacity);
}

[class^=app] > [class^=app] > [class^=bg] {
  background: var(---background);
  background-size: cover;
  filter: brightness(var(---background-brightness)) blur(var(---background-blur)) var(---background-filter-extra);
}

div[class^=base] > div[class^=content] > div[class^=sidebar] > nav {
  border-radius: var(---border-radius);
}
div[class^=base] > div[class^=content] > div[class^=sidebar] > nav:hover {
  background: var(---overlay-color-dark);
}
div[class^=base] > div[class^=content] > div[class^=sidebar] > nav:hover > * {
  opacity: 1;
}
div[class^=base] > div[class^=content] > div[class^=sidebar] > nav::after {
  background: var(---channel-list-image);
  background-size: cover;
}
div[class^=base] > div[class^=content] > div[class^=sidebar] > nav > * {
  opacity: 0;
}

[aria-label=Inbox] {
  background-color: var(---overlay-color-dark);
  border-radius: var(---border-radius);
}

[class^=appAsidePanelWrapper] > div > div[class^=app] > div[class^=app] > div[class^=layers] > div[class^=layer] > div[class^=container] {
  background: var(---overlay-color);
  border-radius: var(---border-radius);
}

[aria-label="Pinned Messages"] {
  background-color: var(---overlay-color-dark);
  border-radius: var(---border-radius);
}

[aria-label="Servers sidebar"] {
  border-radius: var(---border-radius);
}
[aria-label="Servers sidebar"]:hover {
  background: var(---overlay-color-dark);
}
[aria-label="Servers sidebar"]:hover > ul {
  opacity: 1;
}
[aria-label="Servers sidebar"]::after {
  background: var(---server-list-image);
  background-size: cover;
}
[aria-label="Servers sidebar"] > ul {
  opacity: 0;
}

[class^=callContainer] {
  background: transparent;
}

[class^=gradientTop],
[class^=gradientBottom] {
  display: none;
}

[class*=chatSidebarOpen_] > [class^=channelChatWrapper_] > [class^=container_] {
  border-radius: var(---border-radius);
}

[class^=appAsidePanelWrapper] > div > div[class^=app] > div[class^=app] > div[class^=layers] > div[class^=layer] > div[class^=container]::after {
  background: var(---overlay-color);
  border-radius: var(---border-radius);
}

[aria-label="User area"] {
  background: var(---overlay-color);
  border-radius: var(---border-radius);
}
[aria-label="User area"] [class^=actionButtons] button {
  color: var(--interactive-normal);
}

div[class^=base] > div[class^=content] > div[class^=sidebar] {
  width: 0;
}

div[class^=base] > div[class^=content] > div[class^=sidebar] > nav {
  overflow: hidden;
  position: fixed;
  left: calc(var(---main-width) + var(---margin));
  top: var(---margin);
  bottom: calc(100vh - var(---margin) - 72px);
  min-height: 0;
  width: 72px;
  z-index: 9999;
  padding: var(---margin);
}
div[class^=base] > div[class^=content] > div[class^=sidebar] > nav::after {
  content: "";
  width: 72px;
  height: 72px;
  top: 0;
  left: 0;
  position: absolute;
}
div[class^=base] > div[class^=content] > div[class^=sidebar] > nav:hover {
  bottom: calc(2 * var(---margin) + calc(155px + 2 * var(---margin)));
  width: 240px;
}
div[class^=base] > div[class^=content] > div[class^=sidebar] > nav:hover::after {
  width: 0;
  height: 0;
}

[class^=appAsidePanelWrapper] > div > div[class^=app] > div[class^=app] > div[class^=layers] > div[class^=layer] > div[class^=container] {
  width: calc(var(---main-width) - 3 * var(---margin));
  margin: var(---margin);
  padding: var(---margin);
}

[aria-label="Servers sidebar"] {
  position: fixed;
  right: var(---margin);
  top: var(---margin);
  width: 72px;
  bottom: calc(100vh - var(---margin) - 72px);
  z-index: 9999;
  padding: var(---margin);
}
[aria-label="Servers sidebar"]::after {
  content: "";
  width: 72px;
  height: 72px;
  top: 0;
  right: 0;
  position: absolute;
}
[aria-label="Servers sidebar"]:hover {
  bottom: calc(2 * var(---margin) + calc(155px + 2 * var(---margin)));
  width: calc(72px * var(---server-list-columns));
}
[aria-label="Servers sidebar"]:hover::after {
  width: 0;
  height: 0;
}
[aria-label="Servers sidebar"] [aria-label=Servers] {
  display: grid;
  grid-template-columns: repeat(var(---server-list-columns), 1fr);
  align-items: start;
}

[class^=appAsidePanelWrapper] > div > div[class^=app] > div[class^=app] > div[class^=layers] > div[class^=layer] > div[class^=container]::after {
  content: "";
  height: calc(100vh - calc(155px + 2 * var(---margin)) - 72px - 4 * var(---margin));
  position: fixed;
  right: var(---margin);
  top: calc(2 * var(---margin) + 72px);
  width: calc(100vw - var(---main-width) - 2 * var(---margin));
}

[class*=chatSidebarOpen_] > [class^=channelChatWrapper_] > [class^=container_],
[class*=chatSidebarOpen_] ~ [class^=layerContainer_] > [class^=chatLayerWrapper_] > [class^=container_] {
  position: fixed;
  right: var(---margin);
  top: calc(72px + 2 * var(---margin));
  width: calc(100vw - var(---main-width) - 2 * var(---margin)) !important;
  height: calc(100vh - 72px - calc(155px + 2 * var(---margin)) - 4 * var(---margin));
}

[class^=resizeHandle] {
  display: none;
}

[aria-label="User area"] {
  position: fixed;
  right: var(---margin);
  bottom: var(---margin);
  width: calc(100vw - var(---main-width) - 4 * var(---margin));
  padding: var(---margin);
}
[aria-label="User area"] [class^=avatarWrapper] {
  flex-grow: 1;
}
[aria-label="User area"] [class^=actionButtons] {
  min-width: 0;
  position: absolute;
  height: 36px;
  width: 144px;
  top: 8px;
  right: 74px;
  padding: 0 !important;
}
[aria-label="User area"] [class^=actionButtons] > button {
  padding: 0 !important;
}

[aria-label="Servers sidebar"] {
  transition: background var(---motion-transition), bottom var(---motion-transition), width var(---motion-transition);
}
[aria-label="Servers sidebar"]::after {
  transition: height var(---motion-transition), width var(---motion-transition);
}
[aria-label="Servers sidebar"] > ul {
  transition: opacity var(---motion-transition);
}

div[class^=base] > div[class^=content] > div[class^=sidebar] > nav {
  transition: background var(---motion-transition), bottom var(---motion-transition), width var(---motion-transition);
}
div[class^=base] > div[class^=content] > div[class^=sidebar] > nav::after {
  transition: width var(---motion-transition), height var(---motion-transition);
}
div[class^=base] > div[class^=content] > div[class^=sidebar] > nav > * {
  transition: opacity var(---motion-transition);
}

/* Edit me! */
:root {
  ---accent: #a7c080;
  ---avatar-decoration-opacity: 0;
  ---background-blur: 3px;
  ---background-brightness: 0.4;
  ---background-filter-extra: sepia(20%);
  ---background: url(https://upload-os-bbs.hoyolab.com/upload/2021/10/29/151782143/c16811f3f97dd8a136a8238182827525_3592377418009712682.gif);
  ---border-radius: 10px;
  ---channel-list-image: url(https://i.imgur.com/ji3b1MD.png);
  ---font: "Sniglet";
  ---green-accent: #83c092;
  ---gray: #555555;
  ---inlay-color: #091a1099;
  ---main-width: 60vw;
  ---margin: 1em;
  ---motion-transition: 0.25s linear;
  ---overlay-color-dark: #091a10dd;
  ---overlay-color: #091a1077;
  ---red-accent: #e67e80;
  ---server-list-columns: 5;
  ---server-list-image: url(https://i.imgur.com/AHf983R.png);
  ---solid-background: #091a10;
}

/* Don't edit anything down here */
/* unless you *really* know what you're doing */

/*# sourceMappingURL=arutonee.theme.css.map */
