/*/1** */
/* * @name Aru's Theme (backup) */
/* * @author aru */
/* * @description Aru's theme. Feel free to use it, if you would like! */
/* * @version 0.0.2 */
/* * LICENSE: */
/*     * You may freely use and modify this theme, including resharing, commercializing, etc. */
/*     * under the requirement that the original author (arutonee) is credited, and this */
/*     * license is included publicly within the theme. */
/* *1/ */

/*/1* Put fonts here! *1/ */
/*@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap'); */

/*/1* Edit me :D *1/ */
/*:root { */
/*    ---background: url(https://upload-os-bbs.hoyolab.com/upload/2021/10/29/151782143/c16811f3f97dd8a136a8238182827525_3592377418009712682.gif); */
/*    ---background-brightness: 0.4; */
/*    ---background-blur: 3px; */
/*    ---background-filter-extra: sepia(20%); */

/*    ---placeholder-gif: url(https://media.tenor.com/ESF7tV-kvQ8AAAAi/genshin-impact-genshin.gif); */

/*    ---overlay-background: #091a1088; */
/*    ---solid-overlay-background: #091a10; */


/*    ---hard-accent: #a7c080; */
/*    ---soft-accent: #7fbbb3; */
/*    ---dark-accent: #83c09244; */
/*    ---darker-accent: #48584e88; */

/*    ---green-accent: #83c092; */
/*    ---yellow-accent: #dbbc7f; */
/*    ---red-accent: #e67e80; */
/*    ---gray-accent: #555f66; */

/*    ---text-color: #ffffff; */
/*    ---text-color-alt: #d3c6aa; */
/*    ---text-color-muted: #9da9a0; */

/*    ---main-font: 'Edu NSW ACT Foundation'; */
/*    /1* ---main-font: 'gg sans'; *1/ */

/*    ---keep-avatar-decorations: 0; */

/*    ---color-transition: linear 0.2s; */
/*    ---position-transition: linear 0.2s; */

/*    ---border-radius: 1em; */

/*    ---margin-size: 1em; */

/*    ---main-width: 70vw; */
/*    ---server-columns: 3; */
/*} */

/*.theme-dark, */
/*.theme-light { */
/*    --background-accent: var(---dark-accent); */
/*    --background-floating: var(---solid-overlay-background); */
/*    --background-modifier-accent: transparent; */
/*    --background-modifier-hover: var(---darker-accent); */
/*    --background-modifier-selected: var(---dark-accent); */
/*    --background-primary: transparent; */
/*    --background-secondary-alt: transparent; */
/*    --background-secondary: transparent; */
/*    --background-tertiary: transparent; */
/*    --brand-experiment: var(---hard-accent); */
/*    --brand-experiment-100: var(---hard-accent); */
/*    --brand-experiment-130: var(---hard-accent); */
/*    --brand-experiment-160: var(---hard-accent); */
/*    --brand-experiment-200: var(---hard-accent); */
/*    --brand-experiment-230: var(---hard-accent); */
/*    --brand-experiment-260: var(---hard-accent); */
/*    --brand-experiment-300: var(---hard-accent); */
/*    --brand-experiment-330: var(---hard-accent); */
/*    --brand-experiment-345: var(---hard-accent); */
/*    --brand-experiment-360: var(---hard-accent); */
/*    --brand-experiment-400: var(---hard-accent); */
/*    --brand-experiment-430: var(---hard-accent); */
/*    --brand-experiment-460: var(---hard-accent); */
/*    --brand-experiment-500: var(---hard-accent); */
/*    --brand-experiment-530: var(---hard-accent); */
/*    --brand-experiment-560: var(---hard-accent); */
/*    --brand-experiment-600: var(---hard-accent); */
/*    --brand-experiment-630: var(---hard-accent); */
/*    --brand-experiment-660: var(---hard-accent); */
/*    --brand-experiment-700: var(---hard-accent); */
/*    --brand-experiment-730: var(---hard-accent); */
/*    --brand-experiment-760: var(---hard-accent); */
/*    --brand-experiment-800: var(---hard-accent); */
/*    --brand-experiment-830: var(---hard-accent); */
/*    --brand-experiment-860: var(---hard-accent); */
/*    --brand-experiment-900: var(---hard-accent); */
/*    --button-danger-background: var(---red-accent); */
/*    --button-outline-danger-border: var(---red-accent); */
/*    --button-secondary-background: var(---gray-accent); */
/*    --channel-icon: var(---text-color-alt); */
/*    --channels-default: var(---text-color-alt); */
/*    --channeltextarea-background: var(---overlay-background); */
/*    --channel-text-area-placeholder: var(---text-color-alt); */
/*    --decoration-to-avatar-ratio: 1.2 * var(---keep-avatar-decorations); */
/*    --elevation-high: unset; */
/*    --elevation-low: unset; */
/*    --elevation-medium: unset; */
/*    --elevation-stroke: unset; */
/*    --font-display: var(---main-font); */
/*    --font-primary: var(---main-font); */
/*    --green-360: var(---green-accent); */
/*    --header-primary: var(---text-color); */
/*    --header-secondary: var(---text-color-alt); */
/*    --home-background: transparent; */
/*    --interactive-muted: var(---text-color-muted); */
/*    --interactive-normal: var(---text-color-alt); */
/*    --profile-body-background-color: var(---overlay-background); */
/*    --status-danger: var(---red-accent); */
/*    --status-positive-background: var(---green-accent); */
/*    --status-positive-text: var(---text-color); */
/*    --text-muted: var(---text-color-alt); */
/*    --text-normal: var(---text-color); */
/*    --text-positive: var(---green-accent); */
/*} */

/* [class^=channelTextArea], */
/* [aria-label="Direct Messages"]>li, */
/* [aria-label="Channels"] [data-list-item-id^=channels] { */
/*     border-radius: var(---border-radius) !important; */
/* } */

/* :root body, */
/* :root button, */
/* :root input, */
/* :root textarea { */
/*     font-family: var(---main-font) !important; */
/* } */

/* [class^=app]>[class^=app]>[class^=bg] { */
/*     background: var(---background); */
/*     background-repeat: no-repeat; */
/*     background-size: cover; */
/*     filter: brightness(var(---background-brightness)) blur(var(---background-blur)) var(---background-filter-extra); */
/* } */

/* svg[class^=avatarDecoration] { */
/*     opacity: var(---keep-avatar-decorations); */
/* } */

[class^=pill]>[class^=item] {
    background-color: var(---hard-accent);
}

/* [aria-label=Inbox][role=dialog], [aria-label="Pinned Messages"][role=dialog] { */
/*     background-color: var(---solid-overlay-background); */
/*     border-radius: var(---border-radius); */
/* } */


/* [class^=jumpButton] { */
/*     background-color: var(---solid-overlay-background); */
/*     border-radius: var(---border-radius); */
/* } */

/* [aria-label=Inbox] [class^=channelHeader] { */
/*     background-color: var(---solid-overlay-background); */
/*     border-bottom-left-radius: var(---border-radius); */
/*     border-bottom-right-radius: var(---border-radius); */
/*     width: 100%; */
/*     padding-bottom: 0; */
/* } */

/* [aria-label=Inbox] [class^=channel_], */
/* [aria-label=Inbox] [role=list]>[class^=container], */
/* [class^=messageGroupWrapper] { */
/*     background-color: var(---darker-accent); */
/*     border-radius: var(---border-radius); */
/*     margin-bottom: var(---margin-size); */
/*     padding-right: 0 !important; */
/* } */

/* [data-list-id=unreads] { */
/*     padding-left: var(---margin-size) !important; */
/*     padding-right: var(---margin-size) !important; */
/*     padding-bottom: var(---margin-size) !important; */
/* } */

/* [class^=messagesPopout] { */
/*     padding-left: var(---margin-size) !important; */
/*     padding-right: var(---margin-size) !important; */
/*     padding-bottom: var(---margin-size) !important; */
/* } */

/* * { */
/*     transition: background-color var(---color-transition); */
/* } */

/* [class^=nowPlayingColumn] [class^=itemCard]:hover { */
/*     background-color: var(---overlay-background) !important; */
/* } */

/* [class^=nowPlayingColumn] [class^=itemCard] [class^=body] { */
/*     background-color: var(---overlay-background); */
/* } */

/* [mask^="url(#svg-mask-status-online"] { */
/*     fill: var(---green-accent) !important; */
/* } */

/* [mask^="url(#svg-mask-status-idle"] { */
/*     fill: var(---yellow-accent) !important; */
/* } */

/* /1* [mask^="url(#svg-mask-status-dnd"], *1/ */
/* /1* [mask^="url(#:r"] { *1/ */
/* [mask^="url(#svg-mask-status-dnd"] { */
/*     fill: var(---red-accent) !important; */
/* } */

/* [mask="url(#svg-mask-status-offline)"] { */
/*     fill: var(---gray-accent) !important; */
/* } */

/* ::-webkit-scrollbar { */
/*     width: 0 !important; */
/* } */

/* [class^=codeContainer], */
/* code { */
/*     background: var(---overlay-background) !important; */
/*     border-radius: var(---border-radius); */
/* } */

[class^=tagsContainer]>button,
[class^=tagsContainer]>[class^=tagList] {
    border-radius: var(---border-radius);
    margin-right: 1em;
}

[class^=tagsContainer]>button:hover {
    background-color: var(---overlay-background);
}

[aria-label="Create Post"] {
    background-color: var(---overlay-background);
    border-radius: var(---border-radius);
}

/* #guild-header-popout { */
/*     border-radius: var(---border-radius); */
/* } */

/* #guild-header-popout>[class^=scroller] { */
/*     padding: var(---margin-size) !important; */
/* } */

#channel-attach {
    border-radius: var(---border-radius);
    padding: var(---margin-size) !important;
}

/* [role=menu][id$=-context]>[class^=scroller] { */
/*     padding: var(---margin-size) !important; */
/* } */

/* [role=group] [class^=item] { */
/*     border-radius: var(---border-radius); */
/* } */

/* [role=menu][class^=submenu] { */
/*     border-radius: var(---border-radius); */
/*     padding: var(---margin-size) !important; */
/* } */

/* [role=menu][class^=submenu] [class^=scroller] { */
/*     padding: 0 !important; */
/* } */

/* [class^=popout] { */
/*     border-radius: var(---border-radius); */
/*     padding: var(---margin-size) !important; */
/* } */

/* [aria-label="User area"] { */
/*     background-color: var(---overlay-background); */
/*     border-radius: var(---border-radius); */
/* } */

/* [class^=autocomplete_] { */
/*     background-color: var(---solid-overlay-background) !important; */
/*     border-radius: var(---border-radius); */
/* } */

/* [class^=autocompleteInner]>[class^=scroller] { */
/*     max-height: 250px !important; */
/* } */

/* [class^=chat__], [aria-label="Friends"]:not([aria-orientation=horizontal]) { */
/*     background-color: var(---overlay-background) !important; */
/*     margin: var(---margin-size); */
/*     border-radius: var(---border-radius); */
/* } */

/* [class^=quickswitcher] { */
/*     background-color: var(---solid-overlay-background); */
/* } */

/* [class^=quickswitcher]>input { */
/*     background-color: var(---darker-accent); */
/* } */

/* /1* Layout *1/ */
/* .container_d1f8f5 { */
/*     width: var(---main-width); */
/*     overflow-x: visible !important; */
/* } */

/* [aria-label="User area"] { */
/*     position: fixed; */
/*     right: var(---margin-size); */
/*     bottom: var(---margin-size); */
/*     width: calc(100vw - var(---main-width) - 2 * var(---margin-size)); */
/*     /1* height: 10vh; *1/ */
/* } */

/* [aria-label="User area"] [class^=avatarWrapper] { */
/*     flex-grow: 1; */
/* } */

/* [aria-label="Servers sidebar"] { */
/*     position: fixed; */
/*     right: var(---margin-size); */
/*     top: var(---margin-size); */
/*     width: calc(72px * var(---server-columns)); */
/* } */

/* [aria-label="Servers"] { */
/*     display: grid; */
/*     grid-template-columns: repeat(var(---server-columns), 1fr); */
/*     align-items: start; */
/* } */

/* [aria-label="Servers sidebar"] [class^=tutorialContainer], */
/* [aria-label="Servers sidebar"] { */
/*     display: flex; */
/*     justify-content: center; */
/* } */

/* [aria-label="Servers sidebar"]>ul>[class^="scroller"] { */
/*     background-color: var(---overlay-background); */
/*     border-radius: var(---border-radius); */
/*     position: fixed; */
/*     right: var(---margin-size); */
/*     top: var(---margin-size); */
/*     padding: var(---margin-size) !important; */
/*     height: 30vh; */
/* } */

/* [aria-label="Servers sidebar"]>ul>[class^="scroller"]>div[style^="opacity: 1"] { */
/*     display: flex; */
/*     justify-content: center; */
/* } */

/* [aria-label="Servers sidebar"]>ul>[class^="scroller"]>div:nth-last-child(3) { */
/*     position: absolute; */
/*     top: 0; */
/*     left: 0; */
/*     padding: var(---margin-size); */
/* } */

/* [aria-label="Servers sidebar"]>ul>[class^="scroller"]>div:nth-last-child(2) { */
/*     position: absolute; */
/*     top: 0; */
/*     right: 0; */
/*     padding: var(---margin-size); */
/* } */

/* [aria-label="Servers sidebar"] span { */
/*     display: none; */
/* } */

/* [aria-label="Servers sidebar"] [class^=pill]:has(span[style*="height: 40px"]) { */
/*     top: 50%; */
/*     left: 50%; */
/*     width: 45px; */
/*     height: 45px; */
/*     transform: translate(-50%, -50%); */
/*     border-radius: 1em; */
/*     border: 5px solid var(---hard-accent); */
/* } */

/* Chat sidebar */
/* [class^=chatLayerWrapper]>div:nth-last-child(1), */
/* [class^=channelChatWrapper]>div:nth-last-child(1), */
/* .sidebar_e031be::before, */
/* a[href="https://support.discord.com"]::after { */
/*     content: ''; */
/*     position: fixed; */
/*     width: calc(100vw - var(---main-width) - 2 * var(---margin-size)) !important; */
/*     /1*                  this is computed *1/ */
/*     height: calc(70vh - 132px - 4 * var(---margin-size)); */
/*     right: 0; */
/*     padding: 0; */
/*     margin: var(---margin-size); */
/*     top: calc(30vh + var(---margin-size)); */
/*     border-radius: var(---border-radius); */
/*     min-width: 0; */
/* } */

/* .sidebar_e031be::before { */
/*     background-color: var(---overlay-background); */
/* } */

/* a[href="https://support.discord.com"]::after { */
/*     background: var(---placeholder-gif); */
/*     background-repeat: no-repeat; */
/*     background-size: fill; */
/*     background-position: 50% 50%; */
/* } */

/* Chat sidebar input form */
/* .sansAttachButton__5f863 { */
/*     padding-left: 1em; */
/*     padding-right: 1em; */
/* } */

/* [class^=resizeHandle] { */
/*     display: none; */
/* } */

/* [class^=callContainer] { */
/*     background: transparent; */
/* } */

/* [class^=controlButton] { */
/*     position: relative; */
/* } */

/* [class^=controlIcon] { */
/*     color: var(---text-color-alt); */
/* } */

/* server sidebar */
/* .sidebar_e031be { */
/*     position: fixed; */
/*     left: var(---main-width); */
/*     background-color: var(---overlay-background); */
/*     border-radius: var(---border-radius); */
/*     height: calc(30vh - 2 * var(---margin-size)); */
/*     padding: var(---margin-size); */
/*     margin: var(---margin-size); */
/*     width: calc(100vw - var(---main-width) - 3 * 72px - 7 * var(---margin-size)); */
/* } */

/* [class^=bannerImage] { */
/*     width: 100% !important; */
/* } */

/* [class^=bannerImg] { */
/*     width: 100%; */
/*     object-fit: cover; */
/* } */

/* [class^=actionButtons]>button>div>div { */
/*     height: 15px; */
/*     width: 15px; */
/* } */

/* [class^=actionButtons] { */
/*     height: 20px; */
/* } */
