@use '../widgets.sass'

div[class^=base_]>div[class^=content_]>div[class^=chat_]
  @extend %transparent-widget
  margin: var(---margin-size)

[class^=channelTextArea]>div>[class^=inner]
  padding: var(---margin-size)
  padding-top: 0
  padding-bottom: 0

[class^=threadSuggestionBar]
  background-color: var(---overlay-background) !important
