@use '../widgets.sass'

[class^=chatLayerWrapper]>div:nth-last-child(1),
[class^=channelChatWrapper]>div:nth-last-child(1)
  @extend %side-widget

[class*=chatSidebarOpen_]>[class^=channelChatWrapper_]>[class^=container_]
  @extend %side-widget
  right: var(---margin-size) !important
  top: calc(30vh + 2 * var(---margin-size)) !important

[class^=resizeHandle]
  display: none
