[aria-label="Servers sidebar"]
  span
    display: none

  [class^=pill]:has(span[style*="height: 40px"])
    top: 24px
    left: 50%
    width: 45px
    height: 45px
    transform: translate(-50%, -50%)
    border-radius: 20px
    box-shadow: 0 0 20px var(---accent), 0 0 20px var(---accent), 0 0 20px var(---accent)
