@use '../conf.sass'

rect[fill="#{conf.$discord-green}"]
  fill: var(---green-accent) !important
rect[fill="#{conf.$discord-red}"]
  fill: var(---red-accent) !important
rect[fill="#{conf.$discord-yellow}"]
  fill: var(---yellow-accent) !important
rect[fill="#{conf.$discord-gray}"]
  fill: var(---gray-accent) !important
