$size: 4px

*
  &::-webkit-scrollbar
    width: $size !important
    height: $size !important

  &::-webkit-scrollbar-thumb
    background: var(---accent) !important
    border-radius: 1em

  &::-webkit-scrollbar-track
    background: transparent !important
