@use '../widgets.sass'

div[class^=wrapper]:has(>span[class^=expandedFolderBackground]:not([class*=collapsed]))
  // @extend %solid-widget
  @extend %transparent-widget
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 50%
  width: calc(72px * 3)
  z-index: 1
  direction: rtl
  overflow: scroll
  opacity: 1
  padding: var(---margin-size)

  [id^=folder-items]
    display: grid
    grid-template-columns: repeat(3, 1fr)
    height: unset !important

[aria-label="Servers sidebar"]:has(span[class^=expandedFolderBackground]:not([class*=collapsed]))
  // div[style^="opacity: 1"]
  //   opacity: 0 !important
  ul>[class^=scroller]
    [class^=tutorialContainer]
      height: calc(50% + var(---margin-size))
    // background: transparent !important
    // overflow: hidden
    // [aria-label="Servers"]>[class^=listItem]
    //   opacity: 0
