@use '../widgets.sass'


[aria-label="Servers sidebar"]
  position: fixed
  right: var(---margin-size)
  top: var(---margin-size)
  width: calc(72px * 3)

  &>ul>[class^="scroller"]
    @extend %transparent-widget
    position: fixed
    right: var(---margin-size)
    top: var(---margin-size)
    height: 30vh

    &>div[style^="opacity: 1"]
      display: flex
      justify-content: center

    &>div:nth-last-child(3), &>div:nth-last-child(5)
      position: absolute
      top: 0
      left: 0
      padding: var(---margin-size)

    &>div:nth-last-child(2), &>div:nth-last-child(4)
      position: absolute
      top: 0
      right: 0
      padding: var(---margin-size)

  &, [class^=tutorialContainer]
    display: flex
    justify-content: center

[aria-label="Servers"]
  display: grid
  grid-template-columns: repeat(3, 1fr)
  align-items: start
