@use '../conf.sass'
@use '../widgets.sass'

#{conf.$sidebar}
  @extend %transparent-widget
  position: fixed
  left: var(---main-width)
  height: calc(30vh - 2 * var(---margin-size))
  margin: var(---margin-size)
  width: calc(100vw - var(---main-width) - 3 * 72px - 7 * var(---margin-size))

[class^=bannerImage]
  width: 100% !important

[class^=bannerImg]
  width: 100%
  object-fit: cover

[aria-label="Direct Messages"]>li,
[aria-label="Channels"] [data-list-item-id^=channels]
  border-radius: var(---border-radius) !important
