@use '../conf.sass'
@use '../widgets.sass'

#{conf.$sidebar}::after
  content: ''
  @extend %side-widget
  @extend %transparent-widget

#{conf.$only-in-chat}::after
  content: ''
  @extend %side-widget
  background: var(---placeholder-gif)
  background-repeat: no-repeat
  background-size: contain
  background-position: 50% 50%
  right: var(---margin-size) !important
  top: calc(30vh + 2 * var(---margin-size)) !important
