@use '../widgets.sass'

#account
  max-width: unset

[class^=userPopoutOverlayBackground]
  margin: 0

[class^=accountProfilePopoutWrapper]
  left: unset
  [class^=popoutContainer]
    padding: unset !important

div[role=dialog] [class^=userPopoutInner]
  background-color: var(---solid-overlay-background)
