@use '../widgets.sass'

[aria-label="User area"]
  @extend %transparent-widget
  position: fixed
  right: var(---margin-size)
  bottom: var(---margin-size)
  width: calc(100vw - var(---main-width) - 4 * var(---margin-size))

  [class^=avatarWrapper]
    flex-grow: 1

[class^=actionButtons]
  height: 20px

#vc-spotify-player
  display: none
