@use '../mixins/m-all-hues.sass'

.theme-dark, .theme-light
  --background-accent: var(---dark-accent)
  --background-floating: var(---solid-overlay-background)
  --background-modifier-accent: transparent
  --background-modifier-hover: var(---darker-accent)
  --background-modifier-selected: var(---dark-accent)
  --background-primary: transparent
  --background-secondary-alt: transparent
  --background-secondary: transparent
  --background-tertiary: transparent
  --brand-experiment: var(---accent)
  --button-danger-background: var(---red-accent)
  --button-outline-danger-border: var(---red-accent)
  --button-secondary-background: var(---gray-accent)
  --channel-icon: var(---text-color-alt)
  --channel-text-area-placeholder: var(---text-color-alt)
  --channels-default: var(---text-color-alt)
  --channeltextarea-background: var(---overlay-background)
  --decoration-to-avatar-ratio: 1.2 * var(---keep-avatar-decorations)
  --elevation-high: unset
  --elevation-low: unset
  --elevation-medium: unset
  --elevation-stroke: unset
  --font-display: var(---font)
  --font-primary: var(---font)
  --header-primary: var(---text-color)
  --header-secondary: var(---text-color-alt)
  --home-background: transparent
  --interactive-muted: var(---text-color-muted)
  --interactive-normal: var(---text-color-alt)
  --mention-background: transparent
  --profile-body-background-color: transparent
  --profile-body-background-color: var(---overlay-background)
  --status-danger: var(---red-accent)
  --status-positive-background: var(---green-accent)
  --status-positive-text: var(---text-color)
  --text-muted: var(---text-color-alt)
  --text-normal: var(---text-color)
  --text-positive: var(---green-accent)
  @include m-all-hues.all-hues("--brand-", var(---accent))
  @include m-all-hues.all-hues("--brand-experiment-", var(---accent))
  @include m-all-hues.all-hues("--green-", var(---green-accent))
  @include m-all-hues.all-hues("--red-", var(---red-accent))
