// container underneath rest of app, perfect for background
[class^=app]>[class^=app]>[class^=bg]
  background: var(---background)
  background-size: cover
  filter: brightness(var(---background-brightness)) blur(var(---background-blur)) var(---background-filter-extra)
