@use '../conf.sass'

// channel list
#{conf.$channel-list}>nav
  border-radius: var(---border-radius)

  &:hover
    background: var(---overlay-color-dark)

    >*
      opacity: 1

  &::after
    background: var(---channel-list-image)
    background-size: cover

  >*
    opacity: 0
