// bar containing servers
[aria-label="Servers sidebar"]
  border-radius: var(---border-radius)

  &:hover
    background: var(---overlay-color-dark)

    >ul
      opacity: 1

  &::after
    background: var(---server-list-image)
    background-size: cover

  // inner container
  >ul
    opacity: 0
