/* Put fonts here!
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400&display=swap')

/* Edit me!
:root
  ---accent: #a7c080
  ---background-blur: 3px
  ---background-brightness: 0.4
  ---background-filter-extra: sepia(20%)
  ---background: url(https://upload-os-bbs.hoyolab.com/upload/2021/10/29/151782143/c16811f3f97dd8a136a8238182827525_3592377418009712682.gif)
  ---border-radius: 10px
  ---color-transition: linear 0.2s
  ---dark-accent: #83c09244
  ---darker-accent: #48584e88
  // ---font: 'Patrick Hand'
  ---font: 'Sniglet'
  ---gray-accent: #555f66
  ---green-accent: #83c092
  ---keep-avatar-decorations: 0
  ---main-width: 70vw
  ---margin-size: 1em
  ---overlay-background: #091a1088
  ---placeholder-gif: url(https://media.tenor.com/ESF7tV-kvQ8AAAAi/genshin-impact-genshin.gif)
  ---position-transition: linear 0.2s
  ---red-accent: #e67e80
  ---solid-overlay-background: #091a10
  ---text-color-alt: #d3c6aa
  ---text-color: #ffffff
  ---text-color-muted: #9da9a0
  ---yellow-accent: #dbbc7f

/* Don't edit anything down here
/* unless you *really* know what you're doing
