%solid-widget
  background-color: var(---solid-overlay-background) !important
  border-radius: var(---border-radius) !important
  padding: var(---margin-size) !important

%transparent-widget
  background-color: var(---overlay-background) !important
  border-radius: var(---border-radius) !important
  padding: var(---margin-size) !important

%side-widget
  position: fixed
  width: calc(100vw - var(---main-width) - 4 * var(---margin-size)) !important
  //                  this is computed
  height: calc(70vh - 132px - 8 * var(---margin-size))
  right: 0
  top: calc(30vh + var(---margin-size))
  margin: var(---margin-size)
  border-radius: var(---border-radius)
  min-width: 0
