@use '../functions/f-all-hues.sass'

.theme-dark, .theme-light
  --background-primary: transparent
  --background-secondary-alt: transparent
  --background-secondary: transparent
  --background-tertiary: transparent
  --brand-experiment: var(---accent)
  --channeltextarea-background: var(---inlay-color)
  @include f-all-hues.all-hues("--brand-", var(---accent))
  @include f-all-hues.all-hues("--brand-experiment-", var(---accent))
  @include f-all-hues.all-hues("--green-", var(---green-accent))
  @include f-all-hues.all-hues("--red-", var(---red-accent))
