@use '../conf.sass'

#{conf.$channel-list}>nav
  transition: background var(---motion-transition), bottom var(---motion-transition), width var(---motion-transition)

  &::after
    transition: width var(---motion-transition), height var(---motion-transition)

  >*
    transition: opacity var(---motion-transition)
