// bar containing servers
[aria-label="Servers sidebar"]
  transition: background var(---motion-transition), bottom var(---motion-transition), width var(---motion-transition)

  &::after
    transition: height var(---motion-transition), width var(---motion-transition)

  // inner container
  >ul
    transition: opacity var(---motion-transition)
