// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// !⚠!⚠!
// If you can see this comment, you probably shouldn't be here.
// Download arutonee.theme.css instead.
// If you know that you *are* supposed to be here- welcome!
// Feel free to submit a pull request for any changes you make!
// !⚠!⚠!
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


/* Put fonts here!
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400&display=swap')

/* Edit me!
:root
  ---accent: #a7c080
  ---avatar-decoration-opacity: 0
  ---background-blur: 3px
  ---background-brightness: 0.4
  ---background-filter-extra: sepia(20%)
  ---background: url(https://upload-os-bbs.hoyolab.com/upload/2021/10/29/151782143/c16811f3f97dd8a136a8238182827525_3592377418009712682.gif)
  ---border-radius: 10px
  ---channel-list-image: url(https://i.imgur.com/ji3b1MD.png)
  ---font: 'Sniglet'
  ---green-accent: #83c092
  ---gray: #555555
  ---inlay-color: #091a1099
  ---main-width: 60vw
  ---margin: 1em
  ---motion-transition: 0.25s linear
  ---overlay-color-dark: #091a10dd
  ---overlay-color: #091a1077
  ---red-accent: #e67e80
  ---server-list-columns: 5
  ---server-list-image: url(https://i.imgur.com/AHf983R.png)
  ---solid-background: #091a10

/* Don't edit anything down here
/* unless you *really* know what you're doing
