@use '../conf.sass'

// channel list container
#{conf.$channel-list}
  width: 0

// channel list
#{conf.$channel-list}>nav
  overflow: hidden
  position: fixed
  left: calc(var(---main-width) + var(---margin))
  top: var(---margin)
  bottom: calc(100vh - var(---margin) - #{conf.$server-list-width})
  min-height: 0
  width: #{conf.$server-list-width}
  z-index: 9999
  padding: var(---margin)

  &::after
    content: ''
    width: #{conf.$server-list-width}
    height: #{conf.$server-list-width}
    top: 0
    left: 0
    position: absolute

  &:hover
    bottom: calc(2 * var(---margin) + #{conf.$user-card-height})
    width: #{conf.$channel-list-width}

    &::after
      width: 0
      height: 0
