@use '../conf.sass'

// bar containing servers
[aria-label="Servers sidebar"]
  position: fixed
  right: var(---margin)
  top: var(---margin)
  width: #{conf.$server-list-width}
  bottom: calc(100vh - var(---margin) - #{conf.$server-list-width})
  z-index: 9999
  padding: var(---margin)

  &::after
    content: ''
    width: #{conf.$server-list-width}
    height: #{conf.$server-list-width}
    top: 0
    right: 0
    position: absolute

  &:hover
    bottom: calc(2 * var(---margin) + #{conf.$user-card-height})
    width: calc(#{conf.$server-list-width} * var(---server-list-columns))

    &::after
      width: 0
      height: 0

  // servers
  [aria-label="Servers"]
    display: grid
    grid-template-columns: repeat(var(---server-list-columns), 1fr)
    align-items: start
