@use '../conf.sass'

// sidebar
[class*=chatSidebarOpen_]>[class^=channelChatWrapper_]>[class^=container_],
// sidebar when screen is smaller (?)
[class*=chatSidebarOpen_]~[class^=layerContainer_]>[class^=chatLayerWrapper_]>[class^=container_]
  position: fixed
  right: var(---margin)
  top: calc(#{conf.$server-list-width} + 2 * var(---margin))
  width: calc(100vw - var(---main-width) - 2 * var(---margin)) !important
  height: calc(100vh - #{conf.$server-list-width} - #{conf.$user-card-height} - 4 * var(---margin))

// resize handle
[class^=resizeHandle]
  display: none
