@use '../conf.sass'

// contains the whole app
#{conf.$highest-container}
  // side panel
  &::after
    content: ''
    height: calc(100vh - #{conf.$user-card-height} - #{conf.$server-list-width} - 4 * var(---margin))
    position: fixed
    right: var(---margin)
    top: calc(2 * var(---margin) + #{conf.$server-list-width})
    width: calc(100vw - var(---main-width) - 2 * var(---margin))
