@use '../conf.sass'

// user card
[aria-label="User area"]
  position: fixed
  right: var(---margin)
  bottom: var(---margin)
  width: calc(100vw - var(---main-width) - 4 * var(---margin))
  padding: var(---margin)

  // bottom bar
  [class^=avatarWrapper]
    flex-grow: 1

  // action buttons
  [class^=actionButtons]
    min-width: 0
    position: absolute
    height: #{conf.$user-card-middle-bar-height}
    width: #{conf.$user-card-action-buttons-custom-width}
    top: #{conf.$user-card-middle-bar-padding}
    right: #{conf.$user-card-middle-bar-right-icons-width}
    padding: 0 !important

    >button
      padding: 0 !important
